@(BookForm: Form[form], DeleteBookForm: Form[deleteform], UpdateFormBook: Form[updateform], Books: List[List[Any]])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._
@if(Books.isEmpty){}else{
@for(books <- Books){
<td>@books(0), @books(1), @books(2)</td></br>
}
}

<h1>Add books:</h1>
@helper.form(action =routes.Application.createBook()) {
@CSRF.formField
    @helper.inputText(BookForm("title"))
    @helper.inputText(BookForm("year"))
    @helper.inputText(BookForm("authors"))
    <input type="submit" value="Create">
}

<h1>Delete books:</h1>
@helper.form(action =routes.Application.deleteBook()) {
@CSRF.formField
@helper.inputText(DeleteBookForm("title"))
<input type="submit" value="Delete">
}

<h1>Update books:</h1>
@helper.form(action =routes.Application.updateBook()) {
@CSRF.formField
@helper.inputText(UpdateFormBook("Old_title"))
@helper.inputText(UpdateFormBook("Old_author"))
@helper.inputText(UpdateFormBook("title"))
@helper.inputText(UpdateFormBook("year"))
@helper.inputText(UpdateFormBook("authors"))
<input type="submit" value="Update">
}


