@(getBooks: List[Book], BookForm: Form[form])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._


<h1>Your books:</h1>


<ul>
    @for(book <- getBooks) {
    <li>@book.title, @book.year, @book.name</li>
    }
</ul>


<h1>Add books:</h1>
@helper.form(action =routes.Application.createBook()) {
@CSRF.formField
    @helper.inputText(BookForm("title"))
    @helper.inputText(BookForm("year"))
    @helper.inputText(BookForm("authors"))
    <input type="submit" value="Create">
}
